@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

body {
  font-family: 'Old Standard TT', serif;
  background-color: #141414;
  color: aliceblue;
  font-size: 18px;
  margin: 0;
  padding-top: 40px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.loading img {
  width: 100vh;
  height: 80vh;
}
